<html>
    <h1>Hello ! Les produits suivants ne sont maintenant disponibles qu'en moins de 11 exemplaires, aie aie aie vous devriez penser à réapprovisionner le stock</h1>
    {% for produitMagasin in produitsMagasins %}
        <p>{{ produitMagasin.produit.titre }}</p>
        <p>{{ produitMagasin.stockQte }}</p>
    {% endfor %}
</html>